.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Ephesis', handwriting;
  font-size: 4.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.25rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.36rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e56e84 !important;
}
.bg-success {
  background-color: #e43f3f !important;
}
.bg-info {
  background-color: #e56e84 !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #f400ff !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e56e84 !important;
  border-color: #e56e84 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #d62647 !important;
  border-color: #d62647 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #d62647 !important;
  border-color: #d62647 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fe5799 !important;
  border-color: #fe5799 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #fd0265 !important;
  border-color: #fd0265 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #fd0265 !important;
  border-color: #fd0265 !important;
}
.btn-info,
.btn-info:active {
  background-color: #e56e84 !important;
  border-color: #e56e84 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #d62647 !important;
  border-color: #d62647 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d62647 !important;
  border-color: #d62647 !important;
}
.btn-success,
.btn-success:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f400ff !important;
  border-color: #f400ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a100a8 !important;
  border-color: #a100a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a100a8 !important;
  border-color: #a100a8 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #e56e84;
  color: #e56e84;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #d62647 !important;
  background-color: transparent!important;
  border-color: #d62647 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e56e84 !important;
  border-color: #e56e84 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #fe5799;
  color: #fe5799;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #fd0265 !important;
  background-color: transparent!important;
  border-color: #fd0265 !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fe5799 !important;
  border-color: #fe5799 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #e56e84;
  color: #e56e84;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d62647 !important;
  background-color: transparent!important;
  border-color: #d62647 !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e56e84 !important;
  border-color: #e56e84 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #e43f3f;
  color: #e43f3f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: #b31919 !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #f400ff;
  color: #f400ff;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a100a8 !important;
  background-color: transparent!important;
  border-color: #a100a8 !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f400ff !important;
  border-color: #f400ff !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e56e84 !important;
}
.text-secondary {
  color: #fe5799 !important;
}
.text-success {
  color: #e43f3f !important;
}
.text-info {
  color: #e56e84 !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #f400ff !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c92443 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ee015f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #a61717 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #c92443 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #920099 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e56e84;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #e56e84;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #f400ff;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e56e84;
  border-color: #e56e84;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e56e84;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fdccff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e56e84 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #e56e84;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e56e84;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e56e84;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e56e84;
  border-bottom-color: #e56e84;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e56e84 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fe5799 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e56e84' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tC0ymOHWya {
  z-index: 1000;
  width: 100%;
}
.cid-tC0ymOHWya nav.navbar {
  position: fixed;
}
.cid-tC0ymOHWya .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC0ymOHWya .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tC0ymOHWya .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tC0ymOHWya .dropdown-item:hover,
.cid-tC0ymOHWya .dropdown-item:focus {
  background: #e56e84 !important;
  color: white !important;
}
.cid-tC0ymOHWya .dropdown-item:hover span {
  color: white;
}
.cid-tC0ymOHWya .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tC0ymOHWya .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tC0ymOHWya .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tC0ymOHWya .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tC0ymOHWya .nav-link {
  position: relative;
}
.cid-tC0ymOHWya .container {
  display: flex;
  margin: auto;
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tC0ymOHWya .container {
    flex-wrap: wrap;
  }
}
.cid-tC0ymOHWya .container-fluid {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-tC0ymOHWya .container-fluid {
    flex-wrap: wrap;
  }
}
.cid-tC0ymOHWya .iconfont-wrapper {
  color: #353535 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tC0ymOHWya .dropdown-menu,
.cid-tC0ymOHWya .navbar.opened {
  background: #c6958a !important;
}
.cid-tC0ymOHWya .nav-item:focus,
.cid-tC0ymOHWya .nav-link:focus {
  outline: none;
}
.cid-tC0ymOHWya .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tC0ymOHWya .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tC0ymOHWya .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tC0ymOHWya .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tC0ymOHWya .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tC0ymOHWya .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tC0ymOHWya .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #c6958a;
}
.cid-tC0ymOHWya .navbar.opened {
  transition: all 0.3s;
}
.cid-tC0ymOHWya .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tC0ymOHWya .navbar .navbar-logo img {
  width: auto;
}
.cid-tC0ymOHWya .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tC0ymOHWya .navbar.collapsed {
  justify-content: center;
}
.cid-tC0ymOHWya .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tC0ymOHWya .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-tC0ymOHWya .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 4.5rem);
  }
}
.cid-tC0ymOHWya .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tC0ymOHWya .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tC0ymOHWya .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tC0ymOHWya .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tC0ymOHWya .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tC0ymOHWya .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tC0ymOHWya .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tC0ymOHWya .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tC0ymOHWya .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tC0ymOHWya .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tC0ymOHWya .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tC0ymOHWya .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tC0ymOHWya .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tC0ymOHWya .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tC0ymOHWya .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tC0ymOHWya .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tC0ymOHWya .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tC0ymOHWya .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tC0ymOHWya .navbar.navbar-short {
  min-height: 60px;
}
.cid-tC0ymOHWya .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tC0ymOHWya .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tC0ymOHWya .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tC0ymOHWya .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tC0ymOHWya .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tC0ymOHWya .dropdown-item.active,
.cid-tC0ymOHWya .dropdown-item:active {
  background-color: transparent;
}
.cid-tC0ymOHWya .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tC0ymOHWya .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tC0ymOHWya .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tC0ymOHWya .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #c6958a;
}
.cid-tC0ymOHWya .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tC0ymOHWya .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tC0ymOHWya ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tC0ymOHWya .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tC0ymOHWya button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tC0ymOHWya button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tC0ymOHWya button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tC0ymOHWya button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC0ymOHWya button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tC0ymOHWya button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tC0ymOHWya nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC0ymOHWya nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tC0ymOHWya nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tC0ymOHWya nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tC0ymOHWya .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tC0ymOHWya a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tC0ymOHWya .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tC0ymOHWya .navbar {
    height: 70px;
  }
  .cid-tC0ymOHWya .navbar.opened {
    height: auto;
  }
  .cid-tC0ymOHWya .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-u1rQh09D7y {
  padding-top: 10rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/portada-1.jpg");
}
.cid-u1rQh09D7y .mbr-fallback-image.disabled {
  display: none;
}
.cid-u1rQh09D7y .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u1rQh09D7y .image-wrap img {
  width: 50%;
}
@media (min-width: 992px) {
  .cid-u1rQh09D7y .image-wrap img {
    display: block;
    margin: auto;
    width: 20%;
  }
}
.cid-u1rQh09D7y .mbr-section-title {
  color: #ffffff;
}
.cid-u1rQh09D7y .mbr-text,
.cid-u1rQh09D7y .mbr-section-btn {
  color: #ffffff;
}
.cid-u1rQh09D7y .shake-vertical {
  animation: shake-vertical 14s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse both;
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
.cid-tC5pAT9jeo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tC5pAT9jeo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC5pAT9jeo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC5pAT9jeo .content-wrapper {
  background: #ffffff;
}
@media (max-width: 991px) {
  .cid-tC5pAT9jeo .content-wrapper .image-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-tC5pAT9jeo .content-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-tC5pAT9jeo .content-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tC5pAT9jeo .content-wrapper {
    padding: 5rem 3rem;
  }
  .cid-tC5pAT9jeo .content-wrapper .text-wrapper {
    padding-left: 2rem;
  }
}
.cid-tC5pAT9jeo .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tC5pAT9jeo .card-title {
  color: #232323;
}
.cid-tC5pAT9jeo .mbr-text,
.cid-tC5pAT9jeo .mbr-section-btn {
  color: #232323;
}
.cid-tC5jqYTiWt {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #ffdddd;
}
.cid-tC5jqYTiWt .mbr-fallback-image.disabled {
  display: none;
}
.cid-tC5jqYTiWt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tC5jqYTiWt .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-tC5jqYTiWt .icon-box {
  background: #fe5799;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tC5jqYTiWt .mbr-iconfont {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-tC5jqYTiWt .card {
    margin-bottom: 2rem;
  }
  .cid-tC5jqYTiWt .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u6RDeDoZGg {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u6RDeDoZGg h6 {
  line-height: 1.2;
}
.cid-u6RDeDoZGg img,
.cid-u6RDeDoZGg .item-img {
  width: 100%;
}
.cid-u6RDeDoZGg .item:focus,
.cid-u6RDeDoZGg span:focus {
  outline: none;
}
.cid-u6RDeDoZGg .item {
  cursor: pointer;
}
.cid-u6RDeDoZGg .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u6RDeDoZGg .item-img {
  transition: transform 0.3s linear;
}
.cid-u6RDeDoZGg .item-img:hover {
  transform: scale(0.93);
}
.cid-u6RDeDoZGg .mbr-section-btn {
  margin-top: auto !important;
  text-align: center;
}
.cid-u6RDeDoZGg .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-u6RDeDoZGg .mbr-text,
.cid-u6RDeDoZGg .mbr-section-btn {
  color: #000000;
}
.cid-u6RDeDoZGg .item-title {
  color: #000000;
  text-align: center;
}
.cid-u6RDeDoZGg .item-subtitle {
  color: #000000;
  text-align: center;
}
.cid-u6RDeDoZGg .item-text {
  color: #000000;
  text-align: center;
}
.cid-u6RDeDoZGg .item-title,
.cid-u6RDeDoZGg .mbr-section-btn {
  color: #232323;
}
@keyframes item-wrapper {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.cid-u226oPEBvb {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #f1f1f1;
}
.cid-u226oPEBvb img,
.cid-u226oPEBvb .item-img {
  width: 100%;
  border-radius: 20px;
}
.cid-u226oPEBvb .item:focus,
.cid-u226oPEBvb span:focus {
  outline: none;
  border-radius: 2rem;
}
.cid-u226oPEBvb .item-wrapper {
  position: relative;
  border-radius: 2rem;
}
.cid-u226oPEBvb .slide-content {
  position: relative;
  border-radius: 4px;
  background: #f2f2f2;
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
@media (min-width: 768px) {
  .cid-u226oPEBvb .slide-content .item-content {
    padding: 2.25rem;
  }
}
@media (max-width: 767px) {
  .cid-u226oPEBvb .slide-content .item-content {
    padding: 1.5rem;
  }
}
.cid-u226oPEBvb .mbr-section-btn {
  margin-top: auto !important;
}
.cid-u226oPEBvb .mbr-section-title {
  color: #353535;
}
.cid-u226oPEBvb .mbr-text,
.cid-u226oPEBvb .mbr-section-btn {
  text-align: center;
}
.cid-u226oPEBvb .item-title {
  text-align: center;
}
.cid-u226oPEBvb .item-subtitle {
  text-align: left;
  color: #bbbbbb;
}
.cid-u226oPEBvb .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 370px;
  max-width: 370px;
}
@media (max-width: 768px) {
  .cid-u226oPEBvb .embla__slide {
    min-width: 85%;
    max-width: initial;
  }
}
.cid-u226oPEBvb .embla__button--next,
.cid-u226oPEBvb .embla__button--prev {
  display: flex;
}
.cid-u226oPEBvb .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
@media (max-width: 768px) {
  .cid-u226oPEBvb .embla__button {
    display: none;
  }
}
.cid-u226oPEBvb .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u226oPEBvb .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-u226oPEBvb .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u226oPEBvb .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u226oPEBvb .embla__button {
    top: auto;
  }
}
.cid-u226oPEBvb .embla {
  position: relative;
  width: 100%;
}
.cid-u226oPEBvb .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u226oPEBvb .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u226oPEBvb .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u226oPEBvb .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-u226oPEBvb .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-u226oPEBvb .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-u226oPEBvb .content-head {
  max-width: 800px;
}
.cid-u21ZmtzoB5 {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u21ZmtzoB5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u21ZmtzoB5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u21ZmtzoB5 .mbr-iconfont {
  margin: auto;
  display: inline-flex;
  font-size: 2rem;
  color: #e6c63b;
  width: 40px;
  justify-content: center;
  align-items: center;
}
.cid-u21ZmtzoB5 .card-title,
.cid-u21ZmtzoB5 .iconfont-wrapper {
  color: #232323;
}
.cid-u21ZmtzoB5 .card-text {
  color: #232323;
}
.cid-u21ZmtzoB5 .mbr-section-title {
  color: #232323;
}
.cid-u21ZmtzoB5 .mbr-section-subtitle {
  color: #232323;
}
.cid-u21ZmtzoB5 .content-head {
  max-width: 800px;
}
.cid-u1rPB41DZv {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #ffdddd;
}
.cid-u1rPB41DZv .mbr-fallback-image.disabled {
  display: none;
}
.cid-u1rPB41DZv .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
}
.cid-u1rPB41DZv .row {
  flex-direction: row-reverse;
}
.cid-u1rPB41DZv .row {
  align-items: center;
}
.cid-u1rPB41DZv .shake-vertical {
  animation: shake-vertical 14s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite alternate-reverse both;
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}
.cid-u1rPB41DZv .mbr-section-title {
  color: #333333;
}
.cid-u1rPB41DZv .mbr-text,
.cid-u1rPB41DZv .mbr-section-btn {
  color: #333333;
  text-align: center;
}
.cid-u1rPB41DZv .colortext {
  color: #749c96;
}
.cid-u1KoIZdVsw {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #ffffff;
}
.cid-u1KoIZdVsw .mbr-fallback-image.disabled {
  display: none;
}
.cid-u1KoIZdVsw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-u1KoIZdVsw .row {
    flex-direction: column-reverse;
  }
  .cid-u1KoIZdVsw .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-u1KoIZdVsw .google-map {
  height: 100%;
  position: relative;
}
.cid-u1KoIZdVsw .google-map iframe {
  height: 100%;
  width: 100%;
  border-radius: 30px;
}
.cid-u1KoIZdVsw .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u1KoIZdVsw .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u1KoIZdVsw .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-u1KoIZdVsw .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-u1KoIZdVsw .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #ffffff;
}
.cid-u1KoIZdVsw .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-u1KoIZdVsw .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-u1KoIZdVsw .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-u1KoIZdVsw .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #e56e84;
}
.cid-u1KoIZdVsw .mbr-section-title {
  color: #bca65e;
}
.cid-u1KoIZdVsw .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u1KoIZdVsw .card-title {
  color: #fe5799;
}
.cid-u1KoIZdVsw P {
  color: #232323;
}
.cid-u1s6du8U8J {
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u1s6du8U8J .mbr-fallback-image.disabled {
  display: none;
}
.cid-u1s6du8U8J .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u1s6du8U8J .item-wrapper {
  display: flex;
  margin-bottom: 2rem;
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .cid-u1s6du8U8J .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u1s6du8U8J .mbr-iconfont {
  font-size: 3rem;
  color: #2e481a;
  padding-right: 2rem;
}
.cid-u1s6du8U8J .mbr-section-title {
  text-align: center;
  color: #333333;
}
.cid-u1s6du8U8J .card-title {
  color: #333333;
}
.cid-u1s6du8U8J .card-text {
  color: #232323;
}
.cid-u6cFjSDmwh .float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 31px;
  background-color: #25d366;
  color: #ffffff;
  border-radius: 60px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.cid-u6cFjSDmwh .my-float {
  margin-top: 16px;
}
.cid-u6cFjSDmwh P {
  color: #232323;
}
.cid-u6cFjSDmwh DIV {
  color: #ffffff;
}
.cid-u6cFjSDmwh H10 {
  color: #767676;
}
.cid-u6cFjSDmwh .hidden {
  display: none;
}
.cid-u1s0mSTie1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #353535;
}
.cid-u1s0mSTie1 .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u1s0mSTie1 .social-row {
  width: 100%;
  justify-content: center;
}
.cid-u1s0mSTie1 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-u1s0mSTie1 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-u1s0mSTie1 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-u1s0mSTie1 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-u1s0mSTie1 .media-container-row .social-list {
  width: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-u1s0mSTie1 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-u1s0mSTie1 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-u1s0mSTie1 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  transition: .2s linear;
}
.cid-u1s0mSTie1 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-u1s0mSTie1 .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-u1s0mSTie1 .media-container-row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-u1s0mSTie1 .media-container-row .row-copirayt p {
  width: 100%;
}
.cid-u1s0mSTie1 .letrachica {
  color: #bca65e;
}
.cid-u1s0mSTie1 .small {
  font-size: 0.8rem;
}
.cid-u1s0mSTie1 .media-container-row .mbr-text {
  color: #ffffff;
}
